@layer utilities {

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .animate-typing-delay {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #f3f4f6;
    width: 0;
    animation:
      typing 2.5s steps(25, end) 1s forwards, /* typing with 1s delay */
      blink 0.75s step-end infinite;
  }
}
